<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="User" type="edu.bupt.cbh.user.entity.User"/>
        <typeAlias alias="Test" type="edu.bupt.cbh.test.entity.Test"/>
        <typeAlias alias="Testing" type="edu.bupt.cbh.testing.entity.Testing"/>
        <typeAlias alias="TestingOutput" type="edu.bupt.cbh.testing.entity.TestingOutput"/>
        <typeAlias alias="ExpectedTestingOutput" type="edu.bupt.cbh.testing.entity.ExpectedTestingOutput"/>
        <typeAlias alias="TestingInput" type="edu.bupt.cbh.testing.entity.TestingInput"/>
        <typeAlias alias="RandomTestingInput" type="edu.bupt.cbh.testing.entity.RandomTestingInput"/>
        <typeAlias alias="TestingLinkResult" type="edu.bupt.cbh.testing.entity.TestingLinkResult"/>
    </typeAliases>

</configuration>
