<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.cbh.template.dao.impl.TemplateDaoImpl">
    <resultMap id="baseResultMap" type="RegistTestTemplate">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>
    
    <insert id="initTemplateDatabase" parameterType="java.util.List">
    insert
    into regist_template(id,username,password)
    values
    <foreach collection="list" item="item" index="index" separator=",">
        (#{item.id},#{item.username},#{item.password})
    </foreach>
    </insert>

</mapper>