<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.cbh.test.dao.impl.TestDaoImpl">
    <resultMap id="baseResultMap" type="Test">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="DATE"/>
        <result property="excuteTime" column="excute_time" jdbcType="DATE"/>
        <result property="excuted" column="excuted" jdbcType="TINYINT"/>
        <result property="isExcuteNow" column="is_excute_now" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="test_column_list">
        user_id,name,excuted,create_time,is_excute_now,excute_time,url
    </sql>

    <insert id="insertTest" parameterType="Test" useGeneratedKeys="true" keyProperty="id">
    insert
    into test(<include refid="test_column_list"/>)
    values(#{userId},#{name},#{excuted},#{createTime},#{isExcuteNow},#{excuteTime},#{url})
    </insert>

    <select id="searchTestLikeName" resultMap="baseResultMap">
        select *
        from test
        where name LIKE CONCAT('%',#{testName,jdbcType=VARCHAR},'%');
    </select>

    <select id="searchTestByName" resultMap="baseResultMap">
        select *
        from test
        where name = #{testName,jdbcType=VARCHAR};
    </select>

    <select id="getTestById" resultMap="baseResultMap">
        select *
        from test
        where id = #{id,jdbcType=INTEGER};
    </select>

</mapper>