<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.cbh.testing.dao.TestingDao">
    <resultMap id="baseResultMap" type="Testing">
        <result property="testingId" column="testing_id" jdbcType="INTEGER"/>
        <result property="testId" column="test_id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="testingName" column="testing_name" jdbcType="VARCHAR"/>
        <result property="result" column="result" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="testing_column_list">
        test_id,url,testing_name,result
    </sql>

    <insert id="addTesting" parameterType="Testing" useGeneratedKeys="true" keyProperty="testing_id">
        insert
        into testing(<include refid="testing_column_list"/>)
            values(#{testId},#{url},#{testingName},#{result})
    </insert>

    <update id="updateTesting" parameterType="Testing">
        update testing
        set result = #{result}
        where testing_id = #{testingId,jdbcType=INTEGER};
    </update>

    <select id="getAllTestings" resultMap="baseResultMap">
        select *
        from testing
        where test_id = #{testId,jdbcType=INTEGER};
    </select>

</mapper>