<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.cbh.testing.dao.TestingInputDao">
    <resultMap id="baseResultMap" type="TestingInput">
        <result property="inputId" column="input_id" jdbcType="INTEGER"/>
        <result property="testingId" column="testing_id" jdbcType="INTEGER"/>
        <result property="inputKey" column="input_key" jdbcType="VARCHAR"/>
        <result property="inputValue" column="input_value" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="input_column_list">
        testing_id,input_key,input_value
    </sql>

    <insert id="insertTestingInput" parameterType="TestingInput" useGeneratedKeys="true" keyProperty="input_id">
        insert
        into testing_input(<include refid="input_column_list"/>)
        values(#{testingId},#{inputKey},#{inputValue})
    </insert>

    <select id="getInputList" resultMap="baseResultMap">
        select *
        from testing_input
        where testing_id = #{testingId,jdbcType=INTEGER};
    </select>

</mapper>
