<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.cbh.user.dao.impl.UserDaoImplImpl">
    <resultMap id="baseResultMap" type="User">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="user_column_list">
        username,password
    </sql>
    <select id="getUserByUsername" resultMap="baseResultMap">
        select *
        from user
        where username = #{username,jdbcType=VARCHAR};
    </select>
</mapper>